*{
  box-sizing: border-box;
  margin: 0;
}
.calculator{
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border: solid 0 #ccc;
  box-shadow: 0 2px 5px #0e050505;
  border-radius: 200px;
  margin-top: 50px;
}
 
#result{
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px #0e050505;
  border-radius: 5px;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap :10px;
  margin-top: 20px;
}

 button{
  padding:10px;
  font-size: 24px;
  box-shadow: 0 2px 5px #0e050505;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }

 button:hover{
  background-color: #ddd;
 }

 .Clear{
  background-color: #ff4136;
  color: #333;
 }

 .Operator{
  background-color: #0074d9;
  color: #fff;
 }

 .equals{
  background-color: #01ff70;
  grid-row: span 3;
  color: #fff;
 }

